.layout {
  height: 100vh;
  padding: 1.25rem;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  gap: 1.25rem;
  overflow: hidden;
  .banner {
    border-radius: 0.75rem;
    padding: 2rem;
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;

    .title img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }
  }
  .main {
    background-color: var(--shape-body);
    padding-block: 5rem;
    border-radius: 0.75rem;
    overflow: auto;
  }
}

@media (width <= 60em) {
  .layout {
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;

    .banner,
    .main {
      padding: 1rem;
    }
  }
}
